{% extends "base.html.twig" %}

{% block title %}{% trans %}Users List{% endtrans %}{% endblock %}


{% block body %}
	<div class="container text-white my-5">
		<div class="container">
			<h1 class="display-4">{% trans %}Users List{% endtrans %}</h1>
		</div>
	</div>
    
    <div class="container-fluid table-responsive text-white">
        {% for message in app.flashes("success") %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
	    {% endfor %}
        <table class="table table-bordered text-center text-white">
            <thead>
                <th scope="col">Id</th>
                <th scope="col">Image</th>
                <th scope="col">Email</th>
                <th scope="col">{% trans %}Last name{% endtrans %}</th>
                <th scope="col">{% trans %}First name{% endtrans %}</th>
                <th scope="col">{% trans %}Roles{% endtrans %}</th>
                <th scope="col">Action</th>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td><img src="{{ vich_uploader_asset(user, 'imageFile') }}" width="56em" height="56em"alt="{{ user.document }}" /></td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>
                            {% for role in user.roles %}
                                {% if role == "ROLE_USER" %}
                                    {% trans %}User{% endtrans %}
                                {% elseif role == "ROLE_EDITOR" %}
                                    {% trans %}Editor{% endtrans %}
                                {% elseif role == "ROLE_ADMIN" %}
                                    {% trans %}Administrator{% endtrans %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><a href="{{path("admin_user_update", {'id': user.id}) }}" class="btn btn-info mx-2 my-2 my-sm-0" >{% trans %}Modify{% endtrans %}</a></td>
                    </tr>
                {% else %}
                    <p>{% trans %}No registered users{% endtrans %}</p>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

