{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Nomination Year{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit Nomination Year{% endtrans %}</h1>

    {{ include('nomination_year/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('nomination_year_index') }}">{% trans %}Back to list{% endtrans %}</a>

    {{ include('nomination_year/_delete_form.html.twig') }}
{% endblock %}
