{% extends 'base.html.twig' %}

{% block title %}{% trans %}Nomination Year Index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Nomination Year Index{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Nomination Year{% endtrans %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nomination_year in nomination_years %}
            <tr>
                <td>{{ nomination_year.id }}</td>
                <td>{{ nomination_year.dateNominationYear ? nomination_year.dateNominationYear|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('nomination_year_show', {'id': nomination_year.id}) }}">show</a>
                    <a href="{{ path('nomination_year_edit', {'id': nomination_year.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{% trans %}No records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('nomination_year_new') }}">{% trans %}Create New{% endtrans %}</a>
{% endblock %}
