{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Nomination Year{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Add a new nomination year{% endtrans %}</h1>

    {{ include('nomination_year/_form.html.twig') }}

    <a href="{{ path('nomination_year_index') }}">{% trans %}Back to list{% endtrans %}</a>
{% endblock %}
