{% extends 'base.html.twig' %}

{% block title %}{% trans %}Nomination Year{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Nomination Year{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nomination_year.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Nomination Year{% endtrans %}</th>
                <td>{{ nomination_year.dateNominationYear ? nomination_year.dateNominationYear|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nomination_year_index') }}">back to list</a>

    <a href="{{ path('nomination_year_edit', {'id': nomination_year.id}) }}">{% trans %}Edit{% endtrans %}</a>

    {{ include('nomination_year/_delete_form.html.twig') }}
{% endblock %}
