{% extends "base.html.twig" %}

{% block title %}{% trans %}Create a company{% endtrans %}{% endblock %}

{% block body %}
	<div class="container text-white my-5">
		<div class="container">
			<h1 class="display-4">{% trans %}Create a company{% endtrans %}</h1>
		</div>
	</div>

	<div class="container-fluid text-white">
		{{ form_start(forms) }}

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_row(forms.name,{'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_row(forms.description,{'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_row(forms.address,{'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_row(forms.zipCode,{'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_row(forms.city,{'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_row(forms.country,{'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					{{ form_row(forms.webSite,{'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					{{ form_row(forms.imageFile,{'attr': {'class': 'custom-file-input'}}) }}
				</div>
			</div>
		</div>

		<button type="submit" class="btn btn-lg btn-primary mt-4">Valider</button>

		{{ form_end(forms) }}
{% endblock %}

