{% extends "base.html.twig" %}

{% block title %}{% trans %}Companies List{% endtrans %}{% endblock %}


{% block body %}
	<div class="container text-white my-5">
		<div class="container">
			<h1 class="display-4">{% trans %}Companies List{% endtrans %}</h1>
		</div>
	</div>

	<div class="container-fluid table-responsive text-white">

		<div class="text-right">
            <a href="{{ path("admin_companies_create") }}" class="btn btn-info mx-2 my-2 my-sm-0">Créer une nouvelle entreprise</a>
        </div>

        {% for message in app.flashes("success") %}
            <div class="alert alert-success mt-4" role="alert">
                {{ message }}
            </div>
	    {% endfor %}

		<table class="table table-bordered text-center mt-4 text-white">
			<thead>
				<th scope="col">Id</th>
				<th scope="col">{% trans %}Name{% endtrans %}</th>
				<th scope="col">{% trans %}Address{% endtrans %}</th>
				<th scope="col">Image</th>
				<th scope="col">Action</th>
			</thead>
			<tbody>
				{% for company in companies %}
					<tr>
						<th scope="row">{{ company.id }}</th>
						<td>{{ company.name }}</td>
						<td>{{ company.address }}</td>
						<td><img src="{{ vich_uploader_asset(company, 'imageFile') }}" width="56em" height="56em" alt="{{ company.document }}"/></td>
						<td>
							<a href="{{ path("admin_companies_edit", {'id': company.id}) }}" class="btn btn-info mx-2 my-2 my-sm-0">{% trans %}Modify{% endtrans %}</a>
							<form method="POST" action="{{ path("admin_companies_delete", {'id': company.id}) }}" onsubmit="return confirm('etes-vous sur de supprimer ?')">
								<input type="hidden" name="_method" value="DELETE"/>
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id)}}"/>
								<button class="btn btn-danger" type="submit">
									{% trans %}Delete{% endtrans %}
								</button>
							</form>
						</td>
					</tr>
				{% else %}
					<p>{% trans %}No registered company{% endtrans %}</p>
				{% endfor %}
			</tbody>
		</table>
    </div>
{% endblock %}

