{% extends "base.html.twig" %}

{% block title %}Page d'accueil{% endblock %}


{% block body %}
    <div class="container justify-content-center ">
        <div class="row mt-5 text-white">
            <h2>Liste des entreprises</h2>
        </div>
        <div class="row mt-3">
            <div id="app"></div>
        </div>
    </div>
{% endblock %}