{% extends "base.html.twig" %}

{% block title %}{% trans %}Admin interface{% endtrans %}{% endblock %}


{% block body %}
	<div class="container text-white my-5">
		<div class="container">
			<h1 class="display-4">{% trans %}Welcome to the admin interface{% endtrans %}</h1>
		</div>
	</div>

{% endblock %}
