{% extends "base.html.twig" %}

{% block title %}{% trans %}Admin Profile{% endtrans %}{% endblock %}

{% block body %}
	<div class="container text-white mx-5">
		<div class="container">
			<h1 class="display-4">{% trans %}Your admin profile{% endtrans %}</h1>
		</div>
	</div>

<div class="row text-center text-white">
	<div class="col-md-6">
		<div class="profile-img">
            <img src="/images/users/{{ adminprofil.getDocument() }}" alt="{{ adminprofil.getDocument()}}"/>
		</div>
	</div>
    <div class="col-md-6 text-white">
        <div class="row">
                <div class="col-md-6">
                    <label>{% trans %}First name{% endtrans %}:</label>
                </div>
                <div class="col-md-6">
                    <p>{{ adminprofil.getFirstName() }}</p>
                </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>{% trans %}Last name{% endtrans %}:</label>
            </div>
            <div class="col-md-6">
                <p> {{ adminprofil.getLastName() }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>{% trans %}Unique code{% endtrans %}:</label>
            </div>
            <div class="col-md-6">
                <p> {{ adminprofil.getPersonalCode() }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row text-center">
	<div class="col-md-4">
		<div class="profile-work">
			<p>{% trans %}Roles{% endtrans %}</p>
            {% for role in adminprofil.getRoles() %}
                {{ role }}
            {% endfor %}
		</div>
	</div>
	<div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <label>{% trans %}Address{% endtrans %}:</label>
            </div>
            <div class="col-md-6">
                <p>{{ adminprofil.getAddress() }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>{% trans %}City{% endtrans %}:</label>
            </div>
            <div class="col-md-6">
                <p>{{ adminprofil.getCity() }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>{% trans %}Phone{% endtrans %}</label>
            </div>
            <div class="col-md-6">
                <p>{{ adminprofil.getPhone() }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>E-mail</label>
            </div>
            <div class="col-md-6">
                <p>{{ adminprofil.getEmail() }}</p>
            </div>
        </div>
	</div>
</div>


{% endblock %}

