{% extends "base.html.twig" %}

{% block title %}{% trans %}Categories List{% endtrans %}{% endblock %}


{% block body %}
	<div class="container text-white my-5">
		<div class="container">
			<h1 class="display-4">{% trans %}Categories List{% endtrans %}</h1>
		</div>
	</div>

	<div class="container-fluid table-responsive text-white">

        <div class="text-right">
            <a href="{{ path("admin_categories_create") }}" class="btn btn-info mx-2 my-2 my-sm-0">{% trans %}Add a new category{% endtrans %}</a>
        </div>

        {% for message in app.flashes("success") %}
            <div class="alert alert-success mt-4" role="alert">
                {{ message }}
            </div>
	    {% endfor %}

		<table class="table table-bordered text-center text-white mt-4">
			<thead>
				<th scope="col">Id</th>
				<th scope="col">{% trans %}Category{% endtrans %}</th>
				<th scope="col">Image</th>
				<th scope="col">Action</th>
			</thead>
			<tbody>
				{% for categorie in categories %}
					<tr>
						<th scope="row">{{ categorie.id }}</th>
						<td>{{ categorie.category }}</td>
						<td><img src="{{ vich_uploader_asset(categorie, 'imageFile') }}" width="56em" height="56em" alt="{{ categorie.document }}" /></td>
						<td>
							<a href="{{ path("admin_categories_edit", {'id': categorie.id }) }}" class="btn btn-info mx-2 my-2 my-sm-0">Modifier</a>
							<form method="POST" action="{{ path("admin_categories_delete", {'id': categorie.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you wish to delete?{% endtrans %}')">
								<input type="hidden" name="_method" value="DELETE"/>
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorie.id)}}"/>
								<button class="btn btn-danger" type="submit">
									{% trans %}Delete{% endtrans %}
								</button>
							</form>
						</td>
					</tr>
				{% else %}
					<p>{% trans %}No registered category{% endtrans %}</p>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
