<nav class="navbar navbar-expand-lg navbar-dark ">
<img class="logo" src="/imgWebSite/Logo.png" alt="logo">
	{% if app.user %}
		{% if is_granted('ROLE_ADMIN') %}
        	<a class="navbar-brand" href="{{ path("admin_home") }}">MRM, {% trans %}A better world{% endtrans %}</a>
		{% elseif is_granted('ROLE_USER') %}
			<a class="navbar-brand" href="{{ path("user_home") }}">MRM, {% trans %}A better world{% endtrans %}</a>
		{% endif %}
	{% else %}
		<a class="navbar-brand" href="{{ path("home") }}">MRM, {% trans %}A better world{% endtrans %}</a>
	{% endif %}
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			{% if app.user %}
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path("admin_users") }}">
							{% trans %}Users{% endtrans %}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path("admin_categories_list") }}">
							{% trans %}Categories{% endtrans %}
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path("admin_companies_list") }}">
							{% trans %}Companies{% endtrans %}
						</a>
					</li>
					{% elseif is_granted('ROLE_USER') %}
						<li class="nav-item">
							<a class="nav-link
								{% if curentValue is defined and curentValue == 'VotesUser' %}
								active
								{% endif %}
								" href="{{ path("user_ny_vote") }}">
								{% trans %}Voted{% endtrans %}
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link
								{% if curentValue is defined and curentValue == 'VotesViews' %}
								active
								{% endif %}
								" href="{{ path("user_view_vote") }}">
								{% trans %}See your votes{% endtrans %}
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link
								{% if curentValue is defined and curentValue == 'NominationYearViews' %}
								active
								{% endif %}
								" href="{{ path("user_ny_view") }}">
								{% trans %}See all nominations{% endtrans %}
							</a>
						</li>

				{% endif %}
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path("home_companys") }}">
						{% trans %}List of nominated companies{% endtrans %}
					</a>
				</li>
			{% endif %}
		</ul>
		{% if app.user %}
			<span class="navbar-text text-white">
				{% trans %}Logged in as{% endtrans %} {{ app.user.firstName }} {{ app.user.lastName }}
				<span class="logo">
					<img src="{{ vich_uploader_asset(app.user, 'imageFile') }}" width="56em" height="56em"alt="{{ app.user.document }}" />
				</span>
			</span>
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path("admin_profil", {'id': app.user.id}) }}" class="btn btn-info mx-2 my-2 my-sm-0" >{% trans %}See profile{% endtrans %}</a>
			{% endif %}
			<a href="{{ path("app_logout") }}" class="btn btn-danger mx-2 my-2 my-sm-0" >{% trans %}Logout{% endtrans %}</a>
		{% else %}
			<a href="{{ path("app_login") }}" class="btn btn-success mx-2 my-2 my-sm-0" >{% trans %}Login{% endtrans %}</a>
			<a href="{{ path("app_register") }}" class="btn btn-info mx-2 my-2 my-sm-0" >{% trans %}Register{% endtrans %}</a>
		{% endif %}
	</div>
</nav>

