{% extends "base.html.twig" %}

{% block title %}{% trans %}User vote category{% endtrans %}{% endblock %}


{% block body %}
    {{ include('user/userHeaderTemplate.html.twig') }}
            <div class="container ">
                <div class="row">
                    <h1 class="text-white">{% trans %}Nominated{% endtrans %}: </h1>
                </div>
                <div class="row mt-5 d-flex justify-content-center">
                    {% for ny in NominationYear %}
                        {{ include('user/userNominationYearTemplate.html.twig') }}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}