{% extends "base.html.twig" %}

{% block title %}{% trans %}User vote category{% endtrans %}{% endblock %}


{% block body %}
    {{ include('user/userHeaderTemplate.html.twig') }}
    {{ include('home.html.twig') }}
{% endblock %}