{% extends "base.html.twig" %}

{% block title %}{% trans %}Homepage{% endtrans %}{% endblock %}

{% block body %}
    {{ include('user/userHeaderTemplate.html.twig') }}
    <div class="container ">
        <div class="row">
        <h1 class="text-white">{% trans %}Your votes{% endtrans %}: </h1>
        </div>
        <table class="table ttable-hover table-striped text-center mt-4 text-white">
            <thead>
            <th scope="col">{% trans %}Date of the vote{% endtrans %}</th>
            <th scope="col">{% trans %}Category{% endtrans %}</th>
            <th scope="col">{% trans %}Company{% endtrans %}</th>
            <th scope="col">{% trans %}Nomination date{% endtrans %}</th>
            </thead>
            <tbody>
            {% for vU in votesUser %}
                <tr>
                    <td>
                        {{ vU.date|date("m/d/Y")}}
                    </td>
                    <td>
                        {{ vU.nominationYear.category.category }}</br>
                        <img src="{{ vich_uploader_asset(vU.nominationYear.category, 'imageFile') }}" width="56em" height="56em" alt="{{ vU.nominationYear.category.document }}" /></td>
                    </td>
                    <td>
                        {{ vU.company.name }}</br>
                        <img src="{{ vich_uploader_asset(vU.company, 'imageFile') }}" width="56em" height="56em" alt="{{ vU.company.document }}" />
                    </td>
                    <td>
                        {{ vU.nominationYear.dateNominationYear|date("m/d/Y")}}
                    </td>
                </tr>
            {% else %}
                <p>{% trans %}No registered category{% endtrans %}</p>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}