{% extends "base.html.twig" %}

{% block title %}{% trans %}User vote category{% endtrans %}{% endblock %}


{% block body %}
    {{ include('user/userHeaderTemplate.html.twig') }}

    <div class="container ">
        <div class="row">
            {% for message in app.flashes('vote') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <h1 class="text-white">{% trans %}Vote for a nominated company{% endtrans %}: </h1>
        </div>
        <div class="row mt-5 d-flex justify-content-center">
            {% for ny in NominationYear %}
                {% if not is_granted('NominationYear', ny) %}
                    {{ include('user/userNominationYearTemplate.html.twig') }}
                {% endif %}
            {% endfor %}
        </div>
</div>
{% endblock %}