{% extends "base.html.twig" %}

{% block title %}{% trans %}User vote category{% endtrans %}{% endblock %}


{% block body %}
    {{ include('user/userHeaderTemplate.html.twig') }}
            <div class="container jumbotron">
                <div class="row mt-5 d-flex justify-content-center">
                    {% for company in companys%}
                        <div class="card mx-3" style="width: 18rem;">
                            <img src="{{ vich_uploader_asset(company, 'imageFile') }}" class="card-img-top" alt="foret">
                            <div class="card-body">
                                <h5 class="card-title">{{ company.name }}</h5>
                                <p class="card-text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                <a href="{{ path('user_vote',{'idNy': idNy.id, 'idComp': company.id}) }}" class="btn btn-primary ">{% trans %}Vote for{% endtrans %}: {{ company.name}}</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
{% endblock %}