<div class="card mx-3 mt-3" style="width: 18rem;">
    <img src="{{ vich_uploader_asset(ny.category, 'imageFile') }}" class="card-img-top" alt="foret">
    <div class="card-body">
        <h5 class="card-title">{{ ny.category.category }}</h5>
        <h3 class="card-title">{{ ny.dateNominationYear|date("m/d/Y") }}</h3>
        {% if curentValue is defined and curentValue == 'VotesUser' %}
        <a class="btn btn-primary" href="{{ path("user_company", {'idNy': ny.id}) }}">{% trans %}Vote for{% endtrans %}: {{ ny.category.category }} </a>
        {% endif %}
    </div>

</div>
