
<hr>
		<div class="container">
			<div class="row my-5">
				<h1 class="display-4 text-white font-weight-bold">{% trans %}Welcome to your account interface{% endtrans %}
					{% if app.user %}
						{{ app.user.username }}
					{% endif %}
				</h1>
			</div>
		</div>
<hr>


